kafka_nifi_hadoop_assignment/NiFi_Flow.json
{"flowContents":{"identifier":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6","instanceIdentifier":"7acc46a0-019e-1000-1cce-2f7fb737e261","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"0cd6242b-aa57-324f-b499-9d5ceb87de2a","instanceIdentifier":"8620486e-019e-1000-caea-74968259f457","name":"ConsumeKafka","comments":"","position":{"x":1304.0,"y":-80.0},"type":"org.apache.nifi.kafka.processors.ConsumeKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.9.0"},"properties":{"Topics":"ecommerce_orders_json","Commit Offsets":"true","Header Name Pattern":null,"Header Name Prefix":null,"Key Format":"byte-array","Key Record Reader":null,"Message Demarcator":null,"Record Reader":null,"Key Attribute Encoding":"utf-8","Max Uncommitted Size":null,"Topic Format":"names","Header Encoding":"UTF-8","Max Uncommitted Time":"100 millis","Kafka Connection Service":"a863c2d1-17b2-3341-9af2-070081978c90","Separate By Key":"false","Processing Strategy":"FLOW_FILE","Record Writer":null,"Group ID":"nifi-hdfs-consumer","auto.offset.reset":"earliest","Output Strategy":"USE_VALUE"},"propertyDescriptors":{"Topics":{"name":"Topics","displayName":"Topics","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Commit Offsets":{"name":"Commit Offsets","displayName":"Commit Offsets","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Name Pattern":{"name":"Header Name Pattern","displayName":"Header Name Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Name Prefix":{"name":"Header Name Prefix","displayName":"Header Name Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Format":{"name":"Key Format","displayName":"Key Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Record Reader":{"name":"Key Record Reader","displayName":"Key Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Key Attribute Encoding":{"name":"Key Attribute Encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Uncommitted Size":{"name":"Max Uncommitted Size","displayName":"Max Uncommitted Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Format":{"name":"Topic Format","displayName":"Topic Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Uncommitted Time":{"name":"Max Uncommitted Time","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Separate By Key":{"name":"Separate By Key","displayName":"Separate By Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Processing Strategy":{"name":"Processing Strategy","displayName":"Processing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Group ID":{"name":"Group ID","displayName":"Group ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Auto Offset Reset","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Strategy":{"name":"Output Strategy","displayName":"Output Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6"},{"identifier":"9ac6bcdc-7668-39e2-abea-0f2c238c497a","instanceIdentifier":"858b99c6-019e-1000-c48d-65400facb065","name":"ValidateRecord","comments":"","position":{"x":-464.0,"y":224.0},"type":"org.apache.nifi.processors.standard.ValidateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Schema Branch":null,"Force Types From Reader Schema":"false","Schema Text":"${avro.schema}","Maximum Validation Details Length":"1024","Record Writer for Invalid Records":null,"Record Reader":"1b00172c-bb66-3c8d-9c06-9962cee251d8","Schema Registry":null,"Schema Access Strategy":"reader-schema","Schema Name":"${schema.name}","Allow Extra Fields":"false","Strict Type Checking":"true","Record Writer":"6e57760e-c860-30f6-9ac3-63fe70b8c8e0","Schema Version":null,"Validation Details Attribute Name":null},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Force Types From Reader Schema":{"name":"Force Types From Reader Schema","displayName":"Force Types From Reader Schema","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Validation Details Length":{"name":"Maximum Validation Details Length","displayName":"Maximum Validation Details Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer for Invalid Records":{"name":"Record Writer for Invalid Records","displayName":"Record Writer for Invalid Records","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Extra Fields":{"name":"Allow Extra Fields","displayName":"Allow Extra Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Strict Type Checking":{"name":"Strict Type Checking","displayName":"Strict Type Checking","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation Details Attribute Name":{"name":"Validation Details Attribute Name","displayName":"Validation Details Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6"},{"identifier":"ff656757-701b-38a4-8e68-eb979916016e","instanceIdentifier":"83a39276-019e-1000-1d1f-0e45b0e8a059","name":"SplitText","comments":"","position":{"x":160.0,"y":40.0},"type":"org.apache.nifi.processors.standard.SplitText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Remove Trailing Newlines":"false","Maximum Fragment Size":"64 KB","Header Line Marker Characters":null,"Header Line Count":"1","Line Split Count":"0"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6"},{"identifier":"9403ac15-6548-337e-9a32-9dbfaf200b90","instanceIdentifier":"82e22662-019e-1000-8cdc-b3e6f3db554a","name":"RetryFlowFile","comments":"","position":{"x":704.0,"y":-56.0},"type":"org.apache.nifi.processors.standard.RetryFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Reuse Mode":"fail","Retry Attribute":"flowfile.retries","Penalize Retries":"true","Fail on Nonnumerical Overwrite":"false","Maximum Retries":"3"},"propertyDescriptors":{"Reuse Mode":{"name":"Reuse Mode","displayName":"Reuse Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Retry Attribute":{"name":"Retry Attribute","displayName":"Retry Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Penalize Retries":{"name":"Penalize Retries","displayName":"Penalize Retries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Fail on Nonnumerical Overwrite":{"name":"Fail on Nonnumerical Overwrite","displayName":"Fail on Nonnumerical Overwrite","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Retries":{"name":"Maximum Retries","displayName":"Maximum Retries","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6"},{"identifier":"3bc5dadb-b433-3f64-b410-fd88ad52355a","instanceIdentifier":"82f6ac31-019e-1000-0f06-a1320a1cb41c","name":"UpdateAttribute","comments":"","position":{"x":-464.0,"y":48.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.9.0"},"properties":{"Delete Attributes Expression":null,"original_filename":"${filename}","Store State":"Do not store state","ingestion_time":"${now():format(\"yyyy-MM-dd HH:mm:ss\")}","business_case":"ecommerce_orders","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"original_filename":{"name":"original_filename","displayName":"original_filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ingestion_time":{"name":"ingestion_time","displayName":"ingestion_time","identifiesControllerService":false,"sensitive":false,"dynamic":true},"business_case":{"name":"business_case","displayName":"business_case","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6"},{"identifier":"016ba62a-4c98-3744-95ec-b761c086553d","instanceIdentifier":"85e82be1-019e-1000-df19-569a9c51d9fb","name":"QueryRecord","comments":"","position":{"x":-432.0,"y":432.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Include Zero Record FlowFiles":"true","valid_orders":"SELECT * FROM FLOWFILE\nWHERE order_id IS NOT NULL\nAND customer_name IS NOT NULL\nAND TRIM(customer_name) <> ''\nAND customer_name NOT IN ('N/A', 'null', 'None')\n\nAND email IS NOT NULL\nAND TRIM(email) <> ''\nAND email NOT IN ('N/A', 'null', 'None')\nAND email LIKE '%@%.%'\nAND email NOT LIKE '%@@%'\nAND email NOT LIKE '% %'\nAND email NOT LIKE '@%'\n\nAND product IS NOT NULL\nAND TRIM(product) <> ''\nAND product NOT IN ('N/A', 'null', 'None')\n\nAND quantity > 0\nAND price > 0\n\nAND order_date IS NOT NULL\nAND TRIM(order_date) <> ''\nAND order_date NOT IN ('N/A', 'null', 'None')\n\nAND shipping_address IS NOT NULL\nAND TRIM(shipping_address) <> ''\nAND shipping_address NOT IN ('N/A', 'null', 'None')\n\nAND status IN ('pending', 'shipped', 'delivered', 'cancelled', 'processing', 'returned')","Default Decimal Scale":"0","Record Writer":"6e57760e-c860-30f6-9ac3-63fe70b8c8e0","Record Reader":"1b00172c-bb66-3c8d-9c06-9962cee251d8","Default Decimal Precision":"10","invalid_orders":"SELECT * FROM FLOWFILE\nWHERE NOT (\norder_id IS NOT NULL\nAND customer_name IS NOT NULL\nAND TRIM(customer_name) <> ''\nAND customer_name NOT IN ('N/A', 'null', 'None')\n\nAND email IS NOT NULL\nAND TRIM(email) <> ''\nAND email NOT IN ('N/A', 'null', 'None')\nAND email LIKE '%@%.%'\nAND email NOT LIKE '%@@%'\nAND email NOT LIKE '% %'\nAND email NOT LIKE '@%'\n\nAND product IS NOT NULL\nAND TRIM(product) <> ''\nAND product NOT IN ('N/A', 'null', 'None')\n\nAND quantity > 0\nAND price > 0\n\nAND order_date IS NOT NULL\nAND TRIM(order_date) <> ''\nAND order_date NOT IN ('N/A', 'null', 'None')\n\nAND shipping_address IS NOT NULL\nAND TRIM(shipping_address) <> ''\nAND shipping_address NOT IN ('N/A', 'null', 'None')\n\nAND status IN ('pending', 'shipped', 'delivered', 'cancelled', 'processing', 'returned')\n)"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"valid_orders":{"name":"valid_orders","displayName":"valid_orders","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Default Decimal Scale":{"name":"Default Decimal Scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Default Decimal Precision":{"name":"Default Decimal Precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"invalid_orders":{"name":"invalid_orders","displayName":"invalid_orders","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6"},{"identifier":"dcc47d2c-7786-3abd-926a-ae5fb36ce5e5","instanceIdentifier":"7acd60be-019e-1000-1b2a-342e8d366471","name":"ListFile","comments":"","position":{"x":-456.0,"y":-96.0},"type":"org.apache.nifi.processors.standard.ListFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Minimum File Age":"3 sec","Entity Tracking Initial Listing Target":"all","Maximum File Age":null,"Track Performance":"false","Entity Tracking State Cache":null,"Maximum File Size":null,"Max Disk Operation Time":"10 secs","Max Directory Listing Time":"3 mins","Recurse Subdirectories":"false","File Filter":".*\\.csv","Path Filter":null,"Include File Attributes":"true","Input Directory Location":"Local","Target System Timestamp Precision":"auto-detect","Input Directory":"/opt/nifi/streaming_data","Entity Tracking Node Identifier":"${hostname()}","Record Writer":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Listing Strategy":"timestamps","Entity Tracking Time Window":"3 hours","Maximum Number of Files to Track":"100000"},"propertyDescriptors":{"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Entity Tracking Initial Listing Target":{"name":"Entity Tracking Initial Listing Target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Track Performance":{"name":"Track Performance","displayName":"Track Performance","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Entity Tracking State Cache":{"name":"Entity Tracking State Cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Disk Operation Time":{"name":"Max Disk Operation Time","displayName":"Max Disk Operation Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Directory Listing Time":{"name":"Max Directory Listing Time","displayName":"Max Directory Listing Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include File Attributes":{"name":"Include File Attributes","displayName":"Include File Attributes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory Location":{"name":"Input Directory Location","displayName":"Input Directory Location","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Target System Timestamp Precision":{"name":"Target System Timestamp Precision","displayName":"Target System Timestamp Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Entity Tracking Node Identifier":{"name":"Entity Tracking Node Identifier","displayName":"Entity Tracking Node Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Listing Strategy":{"name":"Listing Strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Entity Tracking Time Window":{"name":"Entity Tracking Time Window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Number of Files to Track":{"name":"Maximum Number of Files to Track","displayName":"Maximum Number of Files to Track","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6"},{"identifier":"7c3a8756-0731-3a3d-b008-b20941c8617f","instanceIdentifier":"7ace0246-019e-1000-43c1-c6550be4ce7f","name":"LogAttribute","comments":"","position":{"x":840.0,"y":160.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Log FlowFile Properties":"true","Log Level":"info","Attributes to Ignore":null,"Attributes to Log":null,"Attributes to Ignore Regular Expression":null,"Output Format":"Line per Attribute","Log Payload":"false","Log Prefix":null,"Character Set":"UTF-8","Attributes to Log Regular Expression":".*"},"propertyDescriptors":{"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore Regular Expression":{"name":"Attributes to Ignore Regular Expression","displayName":"Attributes to Ignore Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log Regular Expression":{"name":"Attributes to Log Regular Expression","displayName":"Attributes to Log Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6"},{"identifier":"ae5d26de-0710-3c43-b837-2cdf8b6dae87","instanceIdentifier":"859ba4f7-019e-1000-c74e-6b3094a4c36c","name":"LogAttribute","comments":"","position":{"x":944.0,"y":424.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Log FlowFile Properties":"true","Log Level":"info","Attributes to Ignore":null,"Attributes to Log":null,"Attributes to Ignore Regular Expression":null,"Output Format":"Line per Attribute","Log Payload":"false","Log Prefix":null,"Character Set":"UTF-8","Attributes to Log Regular Expression":".*"},"propertyDescriptors":{"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore Regular Expression":{"name":"Attributes to Ignore Regular Expression","displayName":"Attributes to Ignore Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log Regular Expression":{"name":"Attributes to Log Regular Expression","displayName":"Attributes to Log Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6"},{"identifier":"1eb2a6fb-e5a9-310d-bc22-75e60532830d","instanceIdentifier":"89662e38-019e-1000-2bd2-f9b2d1054c2b","name":"PutHDFS","comments":"","position":{"x":1312.0,"y":352.0},"type":"org.apache.nifi.processors.hadoop.PutHDFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"2.9.0"},"properties":{"Hadoop Configuration Resources":"/opt/nifi/hadoop-conf/core-site.xml,/opt/nifi/hadoop-conf/hdfs-site.xml","Remote Owner":null,"Permissions Umask":null,"Kerberos User Service":null,"Additional Classpath Resources":null,"Resource Transfer Source":"FLOWFILE_CONTENT","IO Buffer Size":null,"Remote Group":null,"File Resource Service":null,"Block Size":null,"Compression Codec":"NONE","Writing Strategy":"writeAndRename","Ignore Locality":"false","Replication":null,"Append Mode":"DEFAULT","Directory":"${hdfs_output_dir}","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"Remote Owner":{"name":"Remote Owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions Umask":{"name":"Permissions Umask","displayName":"Permissions Umask","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kerberos User Service":{"name":"Kerberos User Service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"IO Buffer Size":{"name":"IO Buffer Size","displayName":"IO Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remote Group":{"name":"Remote Group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Block Size":{"name":"Block Size","displayName":"Block Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Codec":{"name":"Compression Codec","displayName":"Compression Codec","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Writing Strategy":{"name":"Writing Strategy","displayName":"Writing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Locality":{"name":"Ignore Locality","displayName":"Ignore Locality","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replication":{"name":"Replication","displayName":"Replication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Append Mode":{"name":"Append Mode","displayName":"Append Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6"},{"identifier":"519e409d-c203-33f4-81b0-feca58f2769f","instanceIdentifier":"858e137e-019e-1000-7dfd-fee511c0a7c9","name":"ConvertRecord","comments":"","position":{"x":64.0,"y":424.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"da7bde8c-a94e-3836-b655-c483f4bffa0e","Record Reader":"1b00172c-bb66-3c8d-9c06-9962cee251d8"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6"},{"identifier":"42aa3378-2e62-3096-8900-789436ca29fa","instanceIdentifier":"85b90930-019e-1000-0d77-bf758e7ebe79","name":"PublishKafka","comments":"","position":{"x":528.0,"y":416.0},"type":"org.apache.nifi.kafka.processors.PublishKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.9.0"},"properties":{"compression.type":"none","acks":"all","Message Demarcator":null,"Kafka Key Attribute Encoding":"utf-8","Record Reader":null,"Record Metadata Strategy":"FROM_PROPERTIES","Transactional ID Prefix":null,"Header Encoding":"UTF-8","max.request.size":"1 MB","Topic Name":"ecommerce_orders_json","Kafka Key":null,"partition":null,"Kafka Connection Service":"a863c2d1-17b2-3341-9af2-070081978c90","Publish Strategy":"USE_VALUE","Record Key Writer":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","Record Writer":null,"Transactions Enabled":"false","Message Key Field":null,"FlowFile Attribute Header Pattern":null},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key Attribute Encoding":{"name":"Kafka Key Attribute Encoding","displayName":"Kafka Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transactional ID Prefix":{"name":"Transactional ID Prefix","displayName":"Transactional ID Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Name":{"name":"Topic Name","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key":{"name":"Kafka Key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Publish Strategy":{"name":"Publish Strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Key Writer":{"name":"Record Key Writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Transactions Enabled":{"name":"Transactions Enabled","displayName":"Transactions Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Key Field":{"name":"Message Key Field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Attribute Header Pattern":{"name":"FlowFile Attribute Header Pattern","displayName":"FlowFile Attribute Header Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6"},{"identifier":"ec95480f-9e80-33e5-855b-bfcfc862cecb","instanceIdentifier":"7acd976f-019e-1000-cffb-d9956988c15f","name":"FetchFile","comments":"","position":{"x":160.0,"y":-104.0},"type":"org.apache.nifi.processors.standard.FetchFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Move Conflict Strategy":"Rename","Move Destination Directory":null,"File not Found Log Level":"ERROR","Permission Denied Log Level":"ERROR","File to Fetch":"${absolute.path}/${filename}","Completion Strategy":"None"},"propertyDescriptors":{"Move Conflict Strategy":{"name":"Move Conflict Strategy","displayName":"Move Conflict Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Move Destination Directory":{"name":"Move Destination Directory","displayName":"Move Destination Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File not Found Log Level":{"name":"File not Found Log Level","displayName":"File not Found Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permission Denied Log Level":{"name":"Permission Denied Log Level","displayName":"Permission Denied Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File to Fetch":{"name":"File to Fetch","displayName":"File to Fetch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Completion Strategy":{"name":"Completion Strategy","displayName":"Completion Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["permission.denied","not.found"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6"},{"identifier":"971f59e3-cad8-33b6-bb45-3c264aaa1066","instanceIdentifier":"862a1915-019e-1000-ac59-1754205f4ce3","name":"UpdateAttribute","comments":"","position":{"x":1296.0,"y":144.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.9.0"},"properties":{"Delete Attributes Expression":null,"filename":"orders_${now():format(\"yyyyMMdd_HHmmss\")}_${uuid}.json","Store State":"Do not store state","storage_stage":"hdfs_partitioning","hdfs_output_dir":"/data/ecommerce_orders/year=${now():format(\"yyyy\")}/month=${now():format(\"MM\")}/day=${now():format(\"dd\")}","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"storage_stage":{"name":"storage_stage","displayName":"storage_stage","identifiesControllerService":false,"sensitive":false,"dynamic":true},"hdfs_output_dir":{"name":"hdfs_output_dir","displayName":"hdfs_output_dir","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"86ee9ce3-73cb-3127-8672-8b60523f9cc6","instanceIdentifier":"85905e6d-019e-1000-e497-ee111d8065ab","name":"","source":{"id":"9ac6bcdc-7668-39e2-abea-0f2c238c497a","type":"PROCESSOR","groupId":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6","name":"ValidateRecord","comments":"","instanceIdentifier":"858b99c6-019e-1000-c48d-65400facb065"},"destination":{"id":"7c3a8756-0731-3a3d-b008-b20941c8617f","type":"PROCESSOR","groupId":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6","name":"LogAttribute","comments":"","instanceIdentifier":"7ace0246-019e-1000-43c1-c6550be4ce7f"},"labelIndex":0,"zIndex":11,"selectedRelationships":["invalid"],"backPressureObjectThreshold":1000,"backPressureDataSizeThreshold":"10 MB","flowFileExpiration":"1 hour","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6"},{"identifier":"bb45ef48-a41b-39da-bcad-2b23ae49fbdb","instanceIdentifier":"7ace1d99-019e-1000-f89c-ec9ac3e6da45","name":"","source":{"id":"dcc47d2c-7786-3abd-926a-ae5fb36ce5e5","type":"PROCESSOR","groupId":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6","name":"ListFile","comments":"","instanceIdentifier":"7acd60be-019e-1000-1b2a-342e8d366471"},"destination":{"id":"ec95480f-9e80-33e5-855b-bfcfc862cecb","type":"PROCESSOR","groupId":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6","name":"FetchFile","comments":"","instanceIdentifier":"7acd976f-019e-1000-cffb-d9956988c15f"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":1000,"backPressureDataSizeThreshold":"10 MB","flowFileExpiration":"1 hour","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6"},{"identifier":"53b662c0-bc74-3295-b5bd-056241a3f017","instanceIdentifier":"85e8571b-019e-1000-8c78-acf9234e680a","name":"","source":{"id":"9ac6bcdc-7668-39e2-abea-0f2c238c497a","type":"PROCESSOR","groupId":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6","name":"ValidateRecord","comments":"","instanceIdentifier":"858b99c6-019e-1000-c48d-65400facb065"},"destination":{"id":"016ba62a-4c98-3744-95ec-b761c086553d","type":"PROCESSOR","groupId":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6","name":"QueryRecord","comments":"","instanceIdentifier":"85e82be1-019e-1000-df19-569a9c51d9fb"},"labelIndex":0,"zIndex":17,"selectedRelationships":["valid"],"backPressureObjectThreshold":1000,"backPressureDataSizeThreshold":"10 MB","flowFileExpiration":"1 hour","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6"},{"identifier":"37a693e5-474e-3da8-b562-b4723b9e11cc","instanceIdentifier":"83a3e8b0-019e-1000-16a7-6280d1c3e558","name":"","source":{"id":"3bc5dadb-b433-3f64-b410-fd88ad52355a","type":"PROCESSOR","groupId":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6","name":"UpdateAttribute","comments":"","instanceIdentifier":"82f6ac31-019e-1000-0f06-a1320a1cb41c"},"destination":{"id":"ff656757-701b-38a4-8e68-eb979916016e","type":"PROCESSOR","groupId":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6","name":"SplitText","comments":"","instanceIdentifier":"83a39276-019e-1000-1d1f-0e45b0e8a059"},"labelIndex":0,"zIndex":7,"selectedRelationships":["success"],"backPressureObjectThreshold":1000,"backPressureDataSizeThreshold":"10 MB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6"},{"identifier":"4ad7f24c-9c8c-3b13-9f2c-c645de20ceeb","instanceIdentifier":"85bb64f7-019e-1000-2cd6-c7b6255f5457","name":"","source":{"id":"519e409d-c203-33f4-81b0-feca58f2769f","type":"PROCESSOR","groupId":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6","name":"ConvertRecord","comments":"","instanceIdentifier":"858e137e-019e-1000-7dfd-fee511c0a7c9"},"destination":{"id":"42aa3378-2e62-3096-8900-789436ca29fa","type":"PROCESSOR","groupId":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6","name":"PublishKafka","comments":"","instanceIdentifier":"85b90930-019e-1000-0d77-bf758e7ebe79"},"labelIndex":0,"zIndex":14,"selectedRelationships":["success"],"backPressureObjectThreshold":1000,"backPressureDataSizeThreshold":"10 MB","flowFileExpiration":"1 hour","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6"},{"identifier":"d54ba0b5-89af-39bd-ac44-d1a046ef743e","instanceIdentifier":"85cb4f00-019e-1000-3eac-189629180c55","name":"","source":{"id":"42aa3378-2e62-3096-8900-789436ca29fa","type":"PROCESSOR","groupId":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6","name":"PublishKafka","comments":"","instanceIdentifier":"85b90930-019e-1000-0d77-bf758e7ebe79"},"destination":{"id":"7c3a8756-0731-3a3d-b008-b20941c8617f","type":"PROCESSOR","groupId":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6","name":"LogAttribute","comments":"","instanceIdentifier":"7ace0246-019e-1000-43c1-c6550be4ce7f"},"labelIndex":0,"zIndex":16,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6"},{"identifier":"f2dfa1eb-acff-3502-a35f-0cc13d899b25","instanceIdentifier":"830679f7-019e-1000-c616-b76333f1bfd1","name":"","source":{"id":"9403ac15-6548-337e-9a32-9dbfaf200b90","type":"PROCESSOR","groupId":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6","name":"RetryFlowFile","comments":"","instanceIdentifier":"82e22662-019e-1000-8cdc-b3e6f3db554a"},"destination":{"id":"7c3a8756-0731-3a3d-b008-b20941c8617f","type":"PROCESSOR","groupId":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6","name":"LogAttribute","comments":"","instanceIdentifier":"7ace0246-019e-1000-43c1-c6550be4ce7f"},"labelIndex":0,"zIndex":6,"selectedRelationships":["retries_exceeded"],"backPressureObjectThreshold":1000,"backPressureDataSizeThreshold":"10 MB","flowFileExpiration":"1 hour","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6"},{"identifier":"e46ab936-6c8d-3d1d-b959-232d05884b6c","instanceIdentifier":"85eb49fb-019e-1000-2038-e459c662f1bb","name":"","source":{"id":"016ba62a-4c98-3744-95ec-b761c086553d","type":"PROCESSOR","groupId":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6","name":"QueryRecord","comments":"","instanceIdentifier":"85e82be1-019e-1000-df19-569a9c51d9fb"},"destination":{"id":"519e409d-c203-33f4-81b0-feca58f2769f","type":"PROCESSOR","groupId":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6","name":"ConvertRecord","comments":"","instanceIdentifier":"858e137e-019e-1000-7dfd-fee511c0a7c9"},"labelIndex":0,"zIndex":18,"selectedRelationships":["valid_orders"],"backPressureObjectThreshold":1000,"backPressureDataSizeThreshold":"10 MB","flowFileExpiration":"1 hour","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6"},{"identifier":"280d343f-a5f5-3666-aaeb-665981f6c9b0","instanceIdentifier":"858dc439-019e-1000-386b-15d00fcc6354","name":"","source":{"id":"ff656757-701b-38a4-8e68-eb979916016e","type":"PROCESSOR","groupId":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6","name":"SplitText","comments":"","instanceIdentifier":"83a39276-019e-1000-1d1f-0e45b0e8a059"},"destination":{"id":"9ac6bcdc-7668-39e2-abea-0f2c238c497a","type":"PROCESSOR","groupId":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6","name":"ValidateRecord","comments":"","instanceIdentifier":"858b99c6-019e-1000-c48d-65400facb065"},"labelIndex":0,"zIndex":8,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6"},{"identifier":"5b6ca5c7-a342-34bb-8320-121f18212770","instanceIdentifier":"85cb3a9d-019e-1000-68ae-cf3f7eb98f2d","name":"","source":{"id":"42aa3378-2e62-3096-8900-789436ca29fa","type":"PROCESSOR","groupId":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6","name":"PublishKafka","comments":"","instanceIdentifier":"85b90930-019e-1000-0d77-bf758e7ebe79"},"destination":{"id":"ae5d26de-0710-3c43-b837-2cdf8b6dae87","type":"PROCESSOR","groupId":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6","name":"LogAttribute","comments":"","instanceIdentifier":"859ba4f7-019e-1000-c74e-6b3094a4c36c"},"labelIndex":0,"zIndex":15,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6"},{"identifier":"7cda807c-4c24-3798-87f0-830103c4645a","instanceIdentifier":"85eba84b-019e-1000-8870-4f7f172a98e0","name":"","source":{"id":"016ba62a-4c98-3744-95ec-b761c086553d","type":"PROCESSOR","groupId":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6","name":"QueryRecord","comments":"","instanceIdentifier":"85e82be1-019e-1000-df19-569a9c51d9fb"},"destination":{"id":"7c3a8756-0731-3a3d-b008-b20941c8617f","type":"PROCESSOR","groupId":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6","name":"LogAttribute","comments":"","instanceIdentifier":"7ace0246-019e-1000-43c1-c6550be4ce7f"},"labelIndex":0,"zIndex":19,"selectedRelationships":["failure","invalid_orders"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6"},{"identifier":"6a0733fa-7b9c-3775-8d08-783a4cfc3d99","instanceIdentifier":"82f6f246-019e-1000-7cac-c4bb0548bd5e","name":"","source":{"id":"ec95480f-9e80-33e5-855b-bfcfc862cecb","type":"PROCESSOR","groupId":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6","name":"FetchFile","comments":"","instanceIdentifier":"7acd976f-019e-1000-cffb-d9956988c15f"},"destination":{"id":"3bc5dadb-b433-3f64-b410-fd88ad52355a","type":"PROCESSOR","groupId":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6","name":"UpdateAttribute","comments":"","instanceIdentifier":"82f6ac31-019e-1000-0f06-a1320a1cb41c"},"labelIndex":0,"zIndex":2,"selectedRelationships":["success"],"backPressureObjectThreshold":1000,"backPressureDataSizeThreshold":"10 MB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6"},{"identifier":"bcd2ac0e-b345-3e5f-94cf-dd7cab593739","instanceIdentifier":"8971a6c0-019e-1000-a9c8-b7700f68c858","name":"","source":{"id":"1eb2a6fb-e5a9-310d-bc22-75e60532830d","type":"PROCESSOR","groupId":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6","name":"PutHDFS","comments":"","instanceIdentifier":"89662e38-019e-1000-2bd2-f9b2d1054c2b"},"destination":{"id":"7c3a8756-0731-3a3d-b008-b20941c8617f","type":"PROCESSOR","groupId":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6","name":"LogAttribute","comments":"","instanceIdentifier":"7ace0246-019e-1000-43c1-c6550be4ce7f"},"labelIndex":0,"zIndex":22,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6"},{"identifier":"45bbd9e4-0d5e-3aec-920d-0ce6cd38131a","instanceIdentifier":"8304e25c-019e-1000-10f8-bba20ea0c0ba","name":"","source":{"id":"9403ac15-6548-337e-9a32-9dbfaf200b90","type":"PROCESSOR","groupId":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6","name":"RetryFlowFile","comments":"","instanceIdentifier":"82e22662-019e-1000-8cdc-b3e6f3db554a"},"destination":{"id":"ec95480f-9e80-33e5-855b-bfcfc862cecb","type":"PROCESSOR","groupId":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6","name":"FetchFile","comments":"","instanceIdentifier":"7acd976f-019e-1000-cffb-d9956988c15f"},"labelIndex":0,"zIndex":5,"selectedRelationships":["retry"],"backPressureObjectThreshold":1000,"backPressureDataSizeThreshold":"10 MB","flowFileExpiration":"1 hour","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[{"x":500.0,"y":-103.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6"},{"identifier":"7d870c2d-5f59-3869-a11a-2cbce235ba2e","instanceIdentifier":"862a2ddc-019e-1000-5537-eb4e0cee7fae","name":"","source":{"id":"0cd6242b-aa57-324f-b499-9d5ceb87de2a","type":"PROCESSOR","groupId":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6","name":"ConsumeKafka","comments":"","instanceIdentifier":"8620486e-019e-1000-caea-74968259f457"},"destination":{"id":"971f59e3-cad8-33b6-bb45-3c264aaa1066","type":"PROCESSOR","groupId":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6","name":"UpdateAttribute","comments":"","instanceIdentifier":"862a1915-019e-1000-ac59-1754205f4ce3"},"labelIndex":0,"zIndex":20,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6"},{"identifier":"4ee6d292-b869-3c9d-8f6e-6ebd192fb80d","instanceIdentifier":"89665d7b-019e-1000-a70b-5841daf22a21","name":"","source":{"id":"971f59e3-cad8-33b6-bb45-3c264aaa1066","type":"PROCESSOR","groupId":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6","name":"UpdateAttribute","comments":"","instanceIdentifier":"862a1915-019e-1000-ac59-1754205f4ce3"},"destination":{"id":"1eb2a6fb-e5a9-310d-bc22-75e60532830d","type":"PROCESSOR","groupId":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6","name":"PutHDFS","comments":"","instanceIdentifier":"89662e38-019e-1000-2bd2-f9b2d1054c2b"},"labelIndex":0,"zIndex":21,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6"},{"identifier":"a68a9de7-0fd4-3d35-8f25-ac738f707029","instanceIdentifier":"8971c552-019e-1000-9e9a-1d72f0f58150","name":"","source":{"id":"1eb2a6fb-e5a9-310d-bc22-75e60532830d","type":"PROCESSOR","groupId":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6","name":"PutHDFS","comments":"","instanceIdentifier":"89662e38-019e-1000-2bd2-f9b2d1054c2b"},"destination":{"id":"ae5d26de-0710-3c43-b837-2cdf8b6dae87","type":"PROCESSOR","groupId":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6","name":"LogAttribute","comments":"","instanceIdentifier":"859ba4f7-019e-1000-c74e-6b3094a4c36c"},"labelIndex":0,"zIndex":23,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6"},{"identifier":"a86b9f13-6749-30a2-a2a6-3f4e4d8a8ebc","instanceIdentifier":"83037ab5-019e-1000-18ca-b52a95779ce3","name":"","source":{"id":"ec95480f-9e80-33e5-855b-bfcfc862cecb","type":"PROCESSOR","groupId":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6","name":"FetchFile","comments":"","instanceIdentifier":"7acd976f-019e-1000-cffb-d9956988c15f"},"destination":{"id":"9403ac15-6548-337e-9a32-9dbfaf200b90","type":"PROCESSOR","groupId":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6","name":"RetryFlowFile","comments":"","instanceIdentifier":"82e22662-019e-1000-8cdc-b3e6f3db554a"},"labelIndex":0,"zIndex":4,"selectedRelationships":["failure"],"backPressureObjectThreshold":1000,"backPressureDataSizeThreshold":"10 MB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6"},{"identifier":"4b4836ae-9a08-3e8d-8f29-cc18a359b115","instanceIdentifier":"8591beeb-019e-1000-2904-c8592998b1a4","name":"","source":{"id":"519e409d-c203-33f4-81b0-feca58f2769f","type":"PROCESSOR","groupId":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6","name":"ConvertRecord","comments":"","instanceIdentifier":"858e137e-019e-1000-7dfd-fee511c0a7c9"},"destination":{"id":"7c3a8756-0731-3a3d-b008-b20941c8617f","type":"PROCESSOR","groupId":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6","name":"LogAttribute","comments":"","instanceIdentifier":"7ace0246-019e-1000-43c1-c6550be4ce7f"},"labelIndex":0,"zIndex":13,"selectedRelationships":["failure"],"backPressureObjectThreshold":1000,"backPressureDataSizeThreshold":"10 MB","flowFileExpiration":"1 hour","prioritizers":[],"bends":[{"x":596.0,"y":293.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6"},{"identifier":"d8ef1a87-3ccb-3300-b45d-738913ce5347","instanceIdentifier":"8590755a-019e-1000-fb51-e3d71ac2f3d9","name":"","source":{"id":"9ac6bcdc-7668-39e2-abea-0f2c238c497a","type":"PROCESSOR","groupId":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6","name":"ValidateRecord","comments":"","instanceIdentifier":"858b99c6-019e-1000-c48d-65400facb065"},"destination":{"id":"7c3a8756-0731-3a3d-b008-b20941c8617f","type":"PROCESSOR","groupId":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6","name":"LogAttribute","comments":"","instanceIdentifier":"7ace0246-019e-1000-43c1-c6550be4ce7f"},"labelIndex":0,"zIndex":12,"selectedRelationships":["failure"],"backPressureObjectThreshold":1000,"backPressureDataSizeThreshold":"10 MB","flowFileExpiration":"1 hour","prioritizers":[],"bends":[{"x":336.0,"y":221.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"55a9ee7d-0968-30a2-b7b2-5f327cf97af7","instanceIdentifier":"7ad3835b-019e-1000-e0cf-437651c19f80","name":"CSVRecordSetWriter","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.9.0"},"properties":{"CSV Format":"custom","Include Header Line":"true","Schema Access Strategy":"inherit-record-schema","Schema Name":"${schema.name}","CSV Writer":"commons-csv","Escape Character":"\\","Date Format":null,"Null String":null,"Trim Fields":"true","Schema Version":null,"Time Format":null,"Comment Marker":null,"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Quote Character":"\"","Value Separator":",","Schema Registry":null,"Record Separator":"\\n","Timestamp Format":null,"Schema Write Strategy":"no-schema","Schema Cache":null,"Character Set":"UTF-8","Quote Mode":"MINIMAL","Schema Reference Writer":null,"Include Trailing Delimiter":"false"},"propertyDescriptors":{"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Writer":{"name":"CSV Writer","displayName":"CSV Writer","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Cache":{"name":"Schema Cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.9.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6"},{"identifier":"f8001ea0-427e-3301-86c1-156893891551","instanceIdentifier":"8518f39e-019e-1000-895b-82eece7e0a66","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.9.0"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","CSV Format":"custom","Quote Character":"\"","Value Separator":",","Schema Registry":null,"Treat First Line as Header":"false","Schema Access Strategy":"infer-schema","Ignore CSV Header Column Names":"false","Schema Name":"${schema.name}","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Trim Double Quote":"true","Null String":null,"Trim Fields":"true","Schema Version":null,"Time Format":null,"Comment Marker":null,"Allow Duplicate Header Names":"true","CSV Parser":"commons-csv","Character Set":"UTF-8"},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Treat First Line as Header":{"name":"Treat First Line as Header","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore CSV Header Column Names":{"name":"Ignore CSV Header Column Names","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Double Quote":{"name":"Trim Double Quote","displayName":"Trim Double Quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Duplicate Header Names":{"name":"Allow Duplicate Header Names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Parser":{"name":"CSV Parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.9.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6"},{"identifier":"a863c2d1-17b2-3341-9af2-070081978c90","instanceIdentifier":"85bd366c-019e-1000-03b7-fea89d259031","name":"Kafka3ConnectionService","comments":"","type":"org.apache.nifi.kafka.service.Kafka3ConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-3-service-nar","version":"2.9.0"},"properties":{"ack.wait.time":"5 sec","sasl.username":null,"max.poll.records":"10000","bootstrap.servers":"kafka:29092","sasl.kerberos.service.name":null,"security.protocol":"PLAINTEXT","SSL Context Service":null,"sasl.mechanism":"GSSAPI","isolation.level":"read_committed","oauth2-access-token-provider-service":null,"max.block.ms":"5 sec","kerberos-user-service":null,"default.api.timeout.ms":"60 sec"},"propertyDescriptors":{"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"SASL Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Bootstrap Servers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"isolation.level":{"name":"isolation.level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"oauth2-access-token-provider-service":{"name":"oauth2-access-token-provider-service","displayName":"OAuth2 Access Token Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"SASL Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"default.api.timeout.ms":{"name":"default.api.timeout.ms","displayName":"Client Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kafka.service.api.KafkaConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-service-api-nar","version":"2.9.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6"},{"identifier":"da7bde8c-a94e-3836-b655-c483f4bffa0e","instanceIdentifier":"7ad4175e-019e-1000-e683-0eaa10181690","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.9.0"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Allow Scientific Notation":"false","Compression Level":"1","Output Grouping":"output-oneline","Schema Registry":null,"Schema Access Strategy":"inherit-record-schema","Schema Name":"${schema.name}","Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","Suppress Null Values":"never-suppress","Schema Write Strategy":"no-schema","Compression Format":"none","Schema Cache":null,"Schema Version":null,"Time Format":null,"Schema Reference Writer":null},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Grouping":{"name":"Output Grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Suppress Null Values":{"name":"Suppress Null Values","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Format":{"name":"Compression Format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Cache":{"name":"Schema Cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.9.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6"},{"identifier":"1c9351a7-8479-35ec-9545-99a3c6797ead","instanceIdentifier":"7ad3db4a-019e-1000-1af0-71517332d32b","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.9.0"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Starting Field Name":null,"Max String Length":"20 MB","Schema Inference Cache":null,"Starting Field Strategy":"ROOT_NODE","Schema Registry":null,"Schema Access Strategy":"infer-schema","Schema Name":"${schema.name}","Timestamp Format":null,"Date Format":null,"Schema Application Strategy":"SELECTED_PART","Schema Version":null,"Time Format":null,"Allow Comments":"false"},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Starting Field Name":{"name":"Starting Field Name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Inference Cache":{"name":"Schema Inference Cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Starting Field Strategy":{"name":"Starting Field Strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Application Strategy":{"name":"Schema Application Strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.9.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6"},{"identifier":"1b00172c-bb66-3c8d-9c06-9962cee251d8","instanceIdentifier":"7ad2cd30-019e-1000-84e4-fcf11bcb40fd","name":"CSVReader_Ordervladitn","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.9.0"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"{\n  \"type\": \"record\",\n  \"name\": \"EcommerceOrder\",\n  \"fields\": [\n    { \"name\": \"order_id\", \"type\": \"int\" },\n    { \"name\": \"customer_name\", \"type\": \"string\" },\n    { \"name\": \"email\", \"type\": \"string\" },\n    { \"name\": \"product\", \"type\": \"string\" },\n    { \"name\": \"quantity\", \"type\": \"int\" },\n    { \"name\": \"price\", \"type\": \"double\" },\n    { \"name\": \"order_date\", \"type\": \"string\" },\n    { \"name\": \"shipping_address\", \"type\": \"string\" },\n    { \"name\": \"status\", \"type\": \"string\" }\n  ]\n}","CSV Format":"custom","Quote Character":"\"","Value Separator":",","Schema Registry":null,"Treat First Line as Header":"true","Schema Access Strategy":"schema-text-property","Ignore CSV Header Column Names":"false","Schema Name":"${schema.name}","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Trim Double Quote":"true","Null String":null,"Trim Fields":"true","Schema Version":null,"Time Format":null,"Comment Marker":null,"Allow Duplicate Header Names":"true","CSV Parser":"commons-csv","Character Set":"UTF-8"},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Treat First Line as Header":{"name":"Treat First Line as Header","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore CSV Header Column Names":{"name":"Ignore CSV Header Column Names","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Double Quote":{"name":"Trim Double Quote","displayName":"Trim Double Quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Duplicate Header Names":{"name":"Allow Duplicate Header Names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Parser":{"name":"CSV Parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.9.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6"},{"identifier":"6e57760e-c860-30f6-9ac3-63fe70b8c8e0","instanceIdentifier":"8519806a-019e-1000-8aa6-a23b08373524","name":"CSVRecordSetWriter_Oedervaldition","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.9.0"},"properties":{"CSV Format":"custom","Include Header Line":"true","Schema Access Strategy":"inherit-record-schema","Schema Name":"${schema.name}","CSV Writer":"commons-csv","Escape Character":"\\","Date Format":null,"Null String":null,"Trim Fields":"true","Schema Version":null,"Time Format":null,"Comment Marker":null,"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Quote Character":"\"","Value Separator":",","Schema Registry":null,"Record Separator":"\\n","Timestamp Format":null,"Schema Write Strategy":"no-schema","Schema Cache":null,"Character Set":"UTF-8","Quote Mode":"MINIMAL","Schema Reference Writer":null,"Include Trailing Delimiter":"false"},"propertyDescriptors":{"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Writer":{"name":"CSV Writer","displayName":"CSV Writer","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Cache":{"name":"Schema Cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.9.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6a343249-6dbd-3ac0-bc5f-12fa00bd32d6"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}