nifi_assigment/NiFi_Flow.json
{"flowContents":{"identifier":"728fe18a-2847-3d3f-8a20-4f627f672795","instanceIdentifier":"4a8fbc84-019e-1000-e5ec-2374f5217fbf","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"d2ed9ac6-55db-3570-ad50-941d0a488114","instanceIdentifier":"50736758-019e-1000-bf0d-b0ae92e48ad5","name":"TextConvertRecord","comments":"","position":{"x":8.0,"y":168.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"b5d67562-e44c-3bce-8bf5-fe736f37db84","Record Reader":"9efaeba7-214e-3bb2-abfa-eb4a225ce4a3"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"728fe18a-2847-3d3f-8a20-4f627f672795"},{"identifier":"6c93fbe7-66ec-3678-932a-d8bf75ad2b50","instanceIdentifier":"4ae98c6f-019e-1000-73c7-fcabab6315d7","name":"FetchFile","comments":"","position":{"x":-304.0,"y":0.0},"type":"org.apache.nifi.processors.standard.FetchFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Move Conflict Strategy":"Rename","Move Destination Directory":null,"File not Found Log Level":"ERROR","Permission Denied Log Level":"ERROR","File to Fetch":"${absolute.path}/${filename}","Completion Strategy":"None"},"propertyDescriptors":{"Move Conflict Strategy":{"name":"Move Conflict Strategy","displayName":"Move Conflict Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Move Destination Directory":{"name":"Move Destination Directory","displayName":"Move Destination Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File not Found Log Level":{"name":"File not Found Log Level","displayName":"File not Found Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permission Denied Log Level":{"name":"Permission Denied Log Level","displayName":"Permission Denied Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File to Fetch":{"name":"File to Fetch","displayName":"File to Fetch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Completion Strategy":{"name":"Completion Strategy","displayName":"Completion Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","permission.denied","not.found"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"728fe18a-2847-3d3f-8a20-4f627f672795"},{"identifier":"20b48586-2f64-37fa-9ad1-d0c7a95ebb2f","instanceIdentifier":"4b23b829-019e-1000-9160-13b209b959a1","name":"RouteOnAttribute","comments":"","position":{"x":256.0,"y":-40.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"is csv":"${filename:endsWith('.csv')}","Routing Strategy":"Route to Property name","is text":"${filename:endsWith('.txt')}","is json":"${filename:endsWith('.json')}"},"propertyDescriptors":{"is csv":{"name":"is csv","displayName":"is csv","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"is text":{"name":"is text","displayName":"is text","identifiesControllerService":false,"sensitive":false,"dynamic":true},"is json":{"name":"is json","displayName":"is json","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"728fe18a-2847-3d3f-8a20-4f627f672795"},{"identifier":"37354f84-f517-30dd-83a0-9a57d592a203","instanceIdentifier":"5021b1c8-019e-1000-d791-df8e44426d5b","name":"UpdateRecord","comments":"","position":{"x":760.0,"y":472.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"/product":"toLowerCase(/product)","Record Writer":"b5d67562-e44c-3bce-8bf5-fe736f37db84","Record Reader":"3cba47e5-e082-3c5b-94a3-2e5f91c1de37","/city":"toLowerCase(/city)","Replacement Value Strategy":"record-path-value"},"propertyDescriptors":{"/product":{"name":"/product","displayName":"/product","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"/city":{"name":"/city","displayName":"/city","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Replacement Value Strategy":{"name":"Replacement Value Strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"728fe18a-2847-3d3f-8a20-4f627f672795"},{"identifier":"af083556-3cee-3042-82e5-cd3ad86d765a","instanceIdentifier":"508ac91c-019e-1000-6ac5-17b9dfb7c1a5","name":"QueryRecord","comments":"","position":{"x":184.0,"y":472.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Include Zero Record FlowFiles":"true","Default Decimal Scale":"0","Record Writer":"b5d67562-e44c-3bce-8bf5-fe736f37db84","Record Reader":"3cba47e5-e082-3c5b-94a3-2e5f91c1de37","Clean_Data":"SELECT DISTINCT * FROM FLOWFILE \nWHERE customer_name IS NOT NULL AND customer_name <> '' \nAND city IS NOT NULL AND city <> ''\nAND (age IS NULL OR CAST(age AS VARCHAR) <> 'N/A')","Default Decimal Precision":"10"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Default Decimal Scale":{"name":"Default Decimal Scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Clean_Data":{"name":"Clean_Data","displayName":"Clean_Data","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Default Decimal Precision":{"name":"Default Decimal Precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"728fe18a-2847-3d3f-8a20-4f627f672795"},{"identifier":"c5de2778-5df1-3642-8ff7-1b568e6847eb","instanceIdentifier":"50aefc52-019e-1000-4d3f-d12c593cf328","name":"PutHDFS","comments":"","position":{"x":-288.0,"y":448.0},"type":"org.apache.nifi.processors.hadoop.PutHDFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"2.9.0"},"properties":{"Hadoop Configuration Resources":"/tmp/hadoop-conf/core-site.xml,/tmp/hadoop-conf/hdfs-site.xml","Remote Owner":null,"Permissions Umask":"000","Kerberos User Service":null,"Additional Classpath Resources":null,"Resource Transfer Source":"FLOWFILE_CONTENT","IO Buffer Size":null,"Remote Group":null,"File Resource Service":null,"Block Size":null,"Compression Codec":"NONE","Writing Strategy":"writeAndRename","Ignore Locality":"false","Replication":null,"Append Mode":"DEFAULT","Directory":"/nifi/cleaned","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"Remote Owner":{"name":"Remote Owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions Umask":{"name":"Permissions Umask","displayName":"Permissions Umask","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kerberos User Service":{"name":"Kerberos User Service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"IO Buffer Size":{"name":"IO Buffer Size","displayName":"IO Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remote Group":{"name":"Remote Group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Block Size":{"name":"Block Size","displayName":"Block Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Codec":{"name":"Compression Codec","displayName":"Compression Codec","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Writing Strategy":{"name":"Writing Strategy","displayName":"Writing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Locality":{"name":"Ignore Locality","displayName":"Ignore Locality","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replication":{"name":"Replication","displayName":"Replication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Append Mode":{"name":"Append Mode","displayName":"Append Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"728fe18a-2847-3d3f-8a20-4f627f672795"},{"identifier":"231a9db8-9982-36de-a55c-04a590e3f4d7","instanceIdentifier":"5067a129-019e-1000-9ce0-64a23295ed92","name":"CSVConvertRecord","comments":"","position":{"x":736.0,"y":152.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"b5d67562-e44c-3bce-8bf5-fe736f37db84","Record Reader":"17b7cdbd-98d3-3291-90c1-e6c24192c386"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"728fe18a-2847-3d3f-8a20-4f627f672795"},{"identifier":"a8d9f50e-41aa-3c91-ba9d-21c4132ff6cc","instanceIdentifier":"4ff3dc6e-019e-1000-5e9e-0661548d53d3","name":"ConvertRecord","comments":"","position":{"x":-392.0,"y":216.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"b5d67562-e44c-3bce-8bf5-fe736f37db84","Record Reader":"6ee2be95-6761-33ec-89f1-5a81d7fa9907"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"728fe18a-2847-3d3f-8a20-4f627f672795"},{"identifier":"799957b7-5828-3a52-8ea2-fbad5295cf13","instanceIdentifier":"4fcaf95c-019e-1000-9f87-2d64fcc0224a","name":"QueryDatabaseTable","comments":"","position":{"x":-808.0,"y":216.0},"type":"org.apache.nifi.processors.standard.QueryDatabaseTable","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Table Name":"sales_orders","Set Auto Commit":null,"Max Wait Time":"0 seconds","Database Connection Pooling Service":"de1b3fb7-da48-3598-b25d-a242f9c90288","Default Decimal Scale":"0","Maximum-value Columns":"id","Custom Query":"SELECT \n    id, \n    'database' AS source_type,\n    CAST(id AS VARCHAR) AS record_id,\n    customer_name,\n    NULL AS age,\n    city,\n    product,\n    quantity,\n    price,\n    order_status AS status,\n    created_at AS event_time,\n    (quantity * price) AS total_amount\nFROM sales_orders","Initial Load Strategy":"Start at Beginning","Fetch Size":"0","Transaction Isolation Level":null,"Output Batch Size":"0","Use Avro Logical Types":"false","Normalize Table and Column Names":"false","Database Type":"PostgreSQL","Columns to Return":"id, customer_name, city, product, quantity, price, order_status, created_at","Max Rows Per FlowFile":"0","Default Decimal Precision":"10","Database Dialect Service":null,"Maximum Number of Fragments":"0","Additional WHERE Clause":null},"propertyDescriptors":{"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Set Auto Commit":{"name":"Set Auto Commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Default Decimal Scale":{"name":"Default Decimal Scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum-value Columns":{"name":"Maximum-value Columns","displayName":"Maximum-value Columns","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Query":{"name":"Custom Query","displayName":"Custom Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Initial Load Strategy":{"name":"Initial Load Strategy","displayName":"Initial Load Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Fetch Size":{"name":"Fetch Size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transaction Isolation Level":{"name":"Transaction Isolation Level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Batch Size":{"name":"Output Batch Size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Avro Logical Types":{"name":"Use Avro Logical Types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Normalize Table and Column Names":{"name":"Normalize Table and Column Names","displayName":"Normalize Table and Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Type":{"name":"Database Type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Columns to Return":{"name":"Columns to Return","displayName":"Columns to Return","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Rows Per FlowFile":{"name":"Max Rows Per FlowFile","displayName":"Max Rows Per FlowFile","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Default Decimal Precision":{"name":"Default Decimal Precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Maximum Number of Fragments":{"name":"Maximum Number of Fragments","displayName":"Maximum Number of Fragments","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Additional WHERE Clause":{"name":"Additional WHERE Clause","displayName":"Additional WHERE Clause","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"3 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["success"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"728fe18a-2847-3d3f-8a20-4f627f672795"},{"identifier":"fac831f3-01eb-389c-8abe-b047efdb6f47","instanceIdentifier":"4ad9f0e2-019e-1000-79b5-b3b094dadb0d","name":"ListFile","comments":"","position":{"x":-808.0,"y":8.0},"type":"org.apache.nifi.processors.standard.ListFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Minimum File Age":"10 sec","Entity Tracking Initial Listing Target":"all","Maximum File Age":null,"Track Performance":"false","Entity Tracking State Cache":null,"Maximum File Size":null,"Max Disk Operation Time":"10 secs","Max Directory Listing Time":"3 mins","Recurse Subdirectories":"false","File Filter":".*\\.(csv|json|txt)","Path Filter":null,"Include File Attributes":"true","Input Directory Location":"Local","Target System Timestamp Precision":"auto-detect","Input Directory":"/ingest","Entity Tracking Node Identifier":"${hostname()}","Record Writer":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Listing Strategy":"timestamps","Entity Tracking Time Window":"3 hours","Maximum Number of Files to Track":"100000"},"propertyDescriptors":{"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Entity Tracking Initial Listing Target":{"name":"Entity Tracking Initial Listing Target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Track Performance":{"name":"Track Performance","displayName":"Track Performance","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Entity Tracking State Cache":{"name":"Entity Tracking State Cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Disk Operation Time":{"name":"Max Disk Operation Time","displayName":"Max Disk Operation Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Directory Listing Time":{"name":"Max Directory Listing Time","displayName":"Max Directory Listing Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include File Attributes":{"name":"Include File Attributes","displayName":"Include File Attributes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory Location":{"name":"Input Directory Location","displayName":"Input Directory Location","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Target System Timestamp Precision":{"name":"Target System Timestamp Precision","displayName":"Target System Timestamp Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Entity Tracking Node Identifier":{"name":"Entity Tracking Node Identifier","displayName":"Entity Tracking Node Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Listing Strategy":{"name":"Listing Strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Entity Tracking Time Window":{"name":"Entity Tracking Time Window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Number of Files to Track":{"name":"Maximum Number of Files to Track","displayName":"Maximum Number of Files to Track","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"3 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"728fe18a-2847-3d3f-8a20-4f627f672795"},{"identifier":"9dd81a06-5808-328c-bb36-88d4b67d5fdd","instanceIdentifier":"507f64af-019e-1000-4718-0dfd85d4dd3a","name":"QueryRecord","comments":"","position":{"x":392.0,"y":280.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Include Zero Record FlowFiles":"true","Default Decimal Scale":"0","Record Writer":"b5d67562-e44c-3bce-8bf5-fe736f37db84","Record Reader":"3cba47e5-e082-3c5b-94a3-2e5f91c1de37","normlaized":"SELECT \n    'file' AS source_type,\n    '' AS record_id, \n    name AS customer_name,\n    age,\n    city,\n    product,\n    quantity,\n    CAST(price AS DOUBLE) AS price,\n    'unknown' AS status,\n    \"timestamp\" AS event_time,\n    (CAST(quantity AS DOUBLE) * CAST(price AS DOUBLE)) AS total_amount\nFROM FLOWFILE","Default Decimal Precision":"10"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Default Decimal Scale":{"name":"Default Decimal Scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"normlaized":{"name":"normlaized","displayName":"normlaized","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Default Decimal Precision":{"name":"Default Decimal Precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"728fe18a-2847-3d3f-8a20-4f627f672795"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"39f7b80e-9b74-3594-9d53-26b17e540910","instanceIdentifier":"50af5c24-019e-1000-8186-a8e19449c47b","name":"","source":{"id":"af083556-3cee-3042-82e5-cd3ad86d765a","type":"PROCESSOR","groupId":"728fe18a-2847-3d3f-8a20-4f627f672795","name":"QueryRecord","comments":"","instanceIdentifier":"508ac91c-019e-1000-6ac5-17b9dfb7c1a5"},"destination":{"id":"c5de2778-5df1-3642-8ff7-1b568e6847eb","type":"PROCESSOR","groupId":"728fe18a-2847-3d3f-8a20-4f627f672795","name":"PutHDFS","comments":"","instanceIdentifier":"50aefc52-019e-1000-4d3f-d12c593cf328"},"labelIndex":0,"zIndex":20,"selectedRelationships":["Clean_Data"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"728fe18a-2847-3d3f-8a20-4f627f672795"},{"identifier":"5d97a977-db99-37a1-968c-98ea4db241d7","instanceIdentifier":"4aef26f0-019e-1000-b999-0d10e623928e","name":"","source":{"id":"fac831f3-01eb-389c-8abe-b047efdb6f47","type":"PROCESSOR","groupId":"728fe18a-2847-3d3f-8a20-4f627f672795","name":"ListFile","comments":"","instanceIdentifier":"4ad9f0e2-019e-1000-79b5-b3b094dadb0d"},"destination":{"id":"6c93fbe7-66ec-3678-932a-d8bf75ad2b50","type":"PROCESSOR","groupId":"728fe18a-2847-3d3f-8a20-4f627f672795","name":"FetchFile","comments":"","instanceIdentifier":"4ae98c6f-019e-1000-73c7-fcabab6315d7"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"728fe18a-2847-3d3f-8a20-4f627f672795"},{"identifier":"eb01b0a7-8a7d-331d-8617-5a2c67366fd5","instanceIdentifier":"50738827-019e-1000-1fd7-f227f3c513b0","name":"","source":{"id":"20b48586-2f64-37fa-9ad1-d0c7a95ebb2f","type":"PROCESSOR","groupId":"728fe18a-2847-3d3f-8a20-4f627f672795","name":"RouteOnAttribute","comments":"","instanceIdentifier":"4b23b829-019e-1000-9160-13b209b959a1"},"destination":{"id":"d2ed9ac6-55db-3570-ad50-941d0a488114","type":"PROCESSOR","groupId":"728fe18a-2847-3d3f-8a20-4f627f672795","name":"TextConvertRecord","comments":"","instanceIdentifier":"50736758-019e-1000-bf0d-b0ae92e48ad5"},"labelIndex":0,"zIndex":14,"selectedRelationships":["is text"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"728fe18a-2847-3d3f-8a20-4f627f672795"},{"identifier":"f515ea4f-bfa2-3c40-a437-e3e71be100f7","instanceIdentifier":"506d1d95-019e-1000-e09d-0603d86eccc4","name":"","source":{"id":"20b48586-2f64-37fa-9ad1-d0c7a95ebb2f","type":"PROCESSOR","groupId":"728fe18a-2847-3d3f-8a20-4f627f672795","name":"RouteOnAttribute","comments":"","instanceIdentifier":"4b23b829-019e-1000-9160-13b209b959a1"},"destination":{"id":"231a9db8-9982-36de-a55c-04a590e3f4d7","type":"PROCESSOR","groupId":"728fe18a-2847-3d3f-8a20-4f627f672795","name":"CSVConvertRecord","comments":"","instanceIdentifier":"5067a129-019e-1000-9ce0-64a23295ed92"},"labelIndex":0,"zIndex":12,"selectedRelationships":["is csv"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"728fe18a-2847-3d3f-8a20-4f627f672795"},{"identifier":"445e244c-6aea-3041-ab74-50fb905f9263","instanceIdentifier":"4ff4103a-019e-1000-8c55-c958f710d303","name":"","source":{"id":"799957b7-5828-3a52-8ea2-fbad5295cf13","type":"PROCESSOR","groupId":"728fe18a-2847-3d3f-8a20-4f627f672795","name":"QueryDatabaseTable","comments":"","instanceIdentifier":"4fcaf95c-019e-1000-9f87-2d64fcc0224a"},"destination":{"id":"a8d9f50e-41aa-3c91-ba9d-21c4132ff6cc","type":"PROCESSOR","groupId":"728fe18a-2847-3d3f-8a20-4f627f672795","name":"ConvertRecord","comments":"","instanceIdentifier":"4ff3dc6e-019e-1000-5e9e-0661548d53d3"},"labelIndex":0,"zIndex":9,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"728fe18a-2847-3d3f-8a20-4f627f672795"},{"identifier":"4c018b74-b653-3e5a-81c7-fea5698ead67","instanceIdentifier":"4b26cdd1-019e-1000-8af9-670b5636a4be","name":"","source":{"id":"6c93fbe7-66ec-3678-932a-d8bf75ad2b50","type":"PROCESSOR","groupId":"728fe18a-2847-3d3f-8a20-4f627f672795","name":"FetchFile","comments":"","instanceIdentifier":"4ae98c6f-019e-1000-73c7-fcabab6315d7"},"destination":{"id":"20b48586-2f64-37fa-9ad1-d0c7a95ebb2f","type":"PROCESSOR","groupId":"728fe18a-2847-3d3f-8a20-4f627f672795","name":"RouteOnAttribute","comments":"","instanceIdentifier":"4b23b829-019e-1000-9160-13b209b959a1"},"labelIndex":0,"zIndex":2,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"728fe18a-2847-3d3f-8a20-4f627f672795"},{"identifier":"fccdedbe-0f42-3a0c-ac36-63ef63f71f5a","instanceIdentifier":"508171f1-019e-1000-b219-4109dfe2dfc1","name":"","source":{"id":"231a9db8-9982-36de-a55c-04a590e3f4d7","type":"PROCESSOR","groupId":"728fe18a-2847-3d3f-8a20-4f627f672795","name":"CSVConvertRecord","comments":"","instanceIdentifier":"5067a129-019e-1000-9ce0-64a23295ed92"},"destination":{"id":"9dd81a06-5808-328c-bb36-88d4b67d5fdd","type":"PROCESSOR","groupId":"728fe18a-2847-3d3f-8a20-4f627f672795","name":"QueryRecord","comments":"","instanceIdentifier":"507f64af-019e-1000-4718-0dfd85d4dd3a"},"labelIndex":0,"zIndex":16,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"728fe18a-2847-3d3f-8a20-4f627f672795"},{"identifier":"d0cb04f5-7c0f-3865-91b2-a6c875b3ffcf","instanceIdentifier":"508b1a56-019e-1000-81fc-54ce6645be35","name":"","source":{"id":"37354f84-f517-30dd-83a0-9a57d592a203","type":"PROCESSOR","groupId":"728fe18a-2847-3d3f-8a20-4f627f672795","name":"UpdateRecord","comments":"","instanceIdentifier":"5021b1c8-019e-1000-d791-df8e44426d5b"},"destination":{"id":"af083556-3cee-3042-82e5-cd3ad86d765a","type":"PROCESSOR","groupId":"728fe18a-2847-3d3f-8a20-4f627f672795","name":"QueryRecord","comments":"","instanceIdentifier":"508ac91c-019e-1000-6ac5-17b9dfb7c1a5"},"labelIndex":0,"zIndex":19,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"728fe18a-2847-3d3f-8a20-4f627f672795"},{"identifier":"83cce28f-76c3-326a-a516-fed1880385a9","instanceIdentifier":"5081b4c4-019e-1000-bc67-844506ee6f97","name":"","source":{"id":"d2ed9ac6-55db-3570-ad50-941d0a488114","type":"PROCESSOR","groupId":"728fe18a-2847-3d3f-8a20-4f627f672795","name":"TextConvertRecord","comments":"","instanceIdentifier":"50736758-019e-1000-bf0d-b0ae92e48ad5"},"destination":{"id":"9dd81a06-5808-328c-bb36-88d4b67d5fdd","type":"PROCESSOR","groupId":"728fe18a-2847-3d3f-8a20-4f627f672795","name":"QueryRecord","comments":"","instanceIdentifier":"507f64af-019e-1000-4718-0dfd85d4dd3a"},"labelIndex":0,"zIndex":17,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"728fe18a-2847-3d3f-8a20-4f627f672795"},{"identifier":"2c22db13-7ce3-35e3-a8bb-7b59611a3f34","instanceIdentifier":"5081df56-019e-1000-4eb4-f810c4df4d0d","name":"","source":{"id":"9dd81a06-5808-328c-bb36-88d4b67d5fdd","type":"PROCESSOR","groupId":"728fe18a-2847-3d3f-8a20-4f627f672795","name":"QueryRecord","comments":"","instanceIdentifier":"507f64af-019e-1000-4718-0dfd85d4dd3a"},"destination":{"id":"37354f84-f517-30dd-83a0-9a57d592a203","type":"PROCESSOR","groupId":"728fe18a-2847-3d3f-8a20-4f627f672795","name":"UpdateRecord","comments":"","instanceIdentifier":"5021b1c8-019e-1000-d791-df8e44426d5b"},"labelIndex":0,"zIndex":18,"selectedRelationships":["normlaized"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"728fe18a-2847-3d3f-8a20-4f627f672795"},{"identifier":"a81cadec-87b7-3d6b-9fd7-80733927218e","instanceIdentifier":"50221917-019e-1000-b404-218048645437","name":"","source":{"id":"a8d9f50e-41aa-3c91-ba9d-21c4132ff6cc","type":"PROCESSOR","groupId":"728fe18a-2847-3d3f-8a20-4f627f672795","name":"ConvertRecord","comments":"","instanceIdentifier":"4ff3dc6e-019e-1000-5e9e-0661548d53d3"},"destination":{"id":"37354f84-f517-30dd-83a0-9a57d592a203","type":"PROCESSOR","groupId":"728fe18a-2847-3d3f-8a20-4f627f672795","name":"UpdateRecord","comments":"","instanceIdentifier":"5021b1c8-019e-1000-d791-df8e44426d5b"},"labelIndex":0,"zIndex":10,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"728fe18a-2847-3d3f-8a20-4f627f672795"},{"identifier":"9ff8d948-da98-3f65-be3d-6c2f6a753c53","instanceIdentifier":"50814254-019e-1000-a6d7-9c6242b56101","name":"","source":{"id":"20b48586-2f64-37fa-9ad1-d0c7a95ebb2f","type":"PROCESSOR","groupId":"728fe18a-2847-3d3f-8a20-4f627f672795","name":"RouteOnAttribute","comments":"","instanceIdentifier":"4b23b829-019e-1000-9160-13b209b959a1"},"destination":{"id":"9dd81a06-5808-328c-bb36-88d4b67d5fdd","type":"PROCESSOR","groupId":"728fe18a-2847-3d3f-8a20-4f627f672795","name":"QueryRecord","comments":"","instanceIdentifier":"507f64af-019e-1000-4718-0dfd85d4dd3a"},"labelIndex":0,"zIndex":15,"selectedRelationships":["is json"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"728fe18a-2847-3d3f-8a20-4f627f672795"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"de1b3fb7-da48-3598-b25d-a242f9c90288","instanceIdentifier":"4fc5572e-019e-1000-8de6-72c3873676cc","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.9.0"},"properties":{"Maximum Idle Connections":"8","Database Driver Locations":"/tmp/jdbc/postgresql-42.7.3.jar","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","Minimum Idle Connections":"0","Kerberos User Service":null,"Max Total Connections":"8","Validation Query":null,"Database Password Provider":null,"Database Connection URL":"jdbc:postgresql://172.17.0.4:5432/nifidb","Password Source":"PASSWORD","Time Between Eviction Runs":"-1","Database User":"admin","Soft Minimum Evictable Idle Time":"-1","Maximum Connection Lifetime":"-1","Minimum Evictable Idle Time":"30 mins"},"propertyDescriptors":{"Maximum Idle Connections":{"name":"Maximum Idle Connections","displayName":"Maximum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Locations":{"name":"Database Driver Locations","displayName":"Database Driver Locations","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY","URL"]}},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Idle Connections":{"name":"Minimum Idle Connections","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kerberos User Service":{"name":"Kerberos User Service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation Query":{"name":"Validation Query","displayName":"Validation Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Password Provider":{"name":"Database Password Provider","displayName":"Database Password Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password Source":{"name":"Password Source","displayName":"Password Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Between Eviction Runs":{"name":"Time Between Eviction Runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Soft Minimum Evictable Idle Time":{"name":"Soft Minimum Evictable Idle Time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Connection Lifetime":{"name":"Maximum Connection Lifetime","displayName":"Maximum Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Evictable Idle Time":{"name":"Minimum Evictable Idle Time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.9.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"728fe18a-2847-3d3f-8a20-4f627f672795"},{"identifier":"17b7cdbd-98d3-3291-90c1-e6c24192c386","instanceIdentifier":"506eb65f-019e-1000-6352-fe677236fe0f","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.9.0"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","CSV Format":"custom","Quote Character":"\"","Value Separator":",","Schema Registry":null,"Treat First Line as Header":"false","Schema Access Strategy":"infer-schema","Ignore CSV Header Column Names":"false","Schema Name":"${schema.name}","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Trim Double Quote":"true","Null String":null,"Trim Fields":"true","Schema Version":null,"Time Format":null,"Comment Marker":null,"Allow Duplicate Header Names":"true","CSV Parser":"commons-csv","Character Set":"UTF-8"},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Treat First Line as Header":{"name":"Treat First Line as Header","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore CSV Header Column Names":{"name":"Ignore CSV Header Column Names","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Double Quote":{"name":"Trim Double Quote","displayName":"Trim Double Quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Duplicate Header Names":{"name":"Allow Duplicate Header Names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Parser":{"name":"CSV Parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.9.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"728fe18a-2847-3d3f-8a20-4f627f672795"},{"identifier":"3cba47e5-e082-3c5b-94a3-2e5f91c1de37","instanceIdentifier":"50229d30-019e-1000-caf3-9fd403b35fdc","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.9.0"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Starting Field Name":null,"Max String Length":"20 MB","Schema Inference Cache":null,"Starting Field Strategy":"ROOT_NODE","Schema Registry":null,"Schema Access Strategy":"infer-schema","Schema Name":"${schema.name}","Timestamp Format":null,"Date Format":null,"Schema Application Strategy":"SELECTED_PART","Schema Version":null,"Time Format":null,"Allow Comments":"false"},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Starting Field Name":{"name":"Starting Field Name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Inference Cache":{"name":"Schema Inference Cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Starting Field Strategy":{"name":"Starting Field Strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Application Strategy":{"name":"Schema Application Strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.9.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"728fe18a-2847-3d3f-8a20-4f627f672795"},{"identifier":"9efaeba7-214e-3bb2-abfa-eb4a225ce4a3","instanceIdentifier":"5074addf-019e-1000-a1e1-9122cf6ee0fd","name":"txtReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.9.0"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","CSV Format":"custom","Quote Character":"\"","Value Separator":"|","Schema Registry":null,"Treat First Line as Header":"true","Schema Access Strategy":"csv-header-derived","Ignore CSV Header Column Names":"false","Schema Name":"${schema.name}","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Trim Double Quote":"true","Null String":null,"Trim Fields":"true","Schema Version":null,"Time Format":null,"Comment Marker":null,"Allow Duplicate Header Names":"true","CSV Parser":"commons-csv","Character Set":"UTF-8"},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Treat First Line as Header":{"name":"Treat First Line as Header","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore CSV Header Column Names":{"name":"Ignore CSV Header Column Names","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Double Quote":{"name":"Trim Double Quote","displayName":"Trim Double Quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Duplicate Header Names":{"name":"Allow Duplicate Header Names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Parser":{"name":"CSV Parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.9.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"728fe18a-2847-3d3f-8a20-4f627f672795"},{"identifier":"6ee2be95-6761-33ec-89f1-5a81d7fa9907","instanceIdentifier":"4fffd5fd-019e-1000-0095-65f97cd0be17","name":"AvroReader","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.9.0"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Schema Version":null,"Cache Size":"1000","Fast Reader Enabled":"true","Schema Registry":null,"Schema Access Strategy":"embedded-avro-schema","Schema Name":"${schema.name}"},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Size":{"name":"Cache Size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Fast Reader Enabled":{"name":"Fast Reader Enabled","displayName":"Fast Reader Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.9.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"728fe18a-2847-3d3f-8a20-4f627f672795"},{"identifier":"b5d67562-e44c-3bce-8bf5-fe736f37db84","instanceIdentifier":"5001394a-019e-1000-b368-692aa4dd5ce9","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.9.0"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Allow Scientific Notation":"false","Compression Level":"1","Output Grouping":"output-array","Schema Registry":null,"Schema Access Strategy":"inherit-record-schema","Schema Name":"${schema.name}","Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","Suppress Null Values":"never-suppress","Schema Write Strategy":"no-schema","Compression Format":"none","Schema Cache":null,"Schema Version":null,"Time Format":null,"Schema Reference Writer":null},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Grouping":{"name":"Output Grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Suppress Null Values":{"name":"Suppress Null Values","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Format":{"name":"Compression Format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Cache":{"name":"Schema Cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.9.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"728fe18a-2847-3d3f-8a20-4f627f672795"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}